<mj-dashboard-card [formGroup]="projectForm" novalidate (ngSubmit)="onSubmit()">
  <mj-dash-card-title>Project Information</mj-dash-card-title>
  <mj-dash-card-actions>
    <button mat-icon-button color="primary" type="submit">
      <mat-icon>save</mat-icon>
    </button>
  </mj-dash-card-actions>
  <mj-dash-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="projectForm.controls['name'].hasError('required')">
            Project name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Order" formControlName="order">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <mat-form-field class="full-width">
        <mat-select placeholder="Client" formControlName="client">
          <mat-option *ngFor="let client of clients$ | async" [value]="client">{{client.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="projectForm.controls['client'].hasError('required')">
          Client is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </mj-dash-card-content>
</mj-dashboard-card>
